<section class="cu-section">
  <img src="/images/cu.png" class="cu-image" alt="">
  <a href="https://umg.edu.gt/cu" class="cu-link">
    <img src="/icons/UMG-Enlace-Centros-Univesitarios.png" class="cu-link-image" alt="Enlace a centros universitarios">
  </a>
  <h3>hola</h3>
</section>

<style>
  .cu-section {
    padding-top: 50px;
    position: relative;
  }

  .cu-image {
    width: 100%;
    height: auto;
  }

  .cu-link {
    position: absolute;
    width: 171px;
    height: 125px;
    left: 230px;
    bottom: 130px;
  }

  .cu-link-image {
    width: 100%;
  }
</style>