---
import Cu from "./Cu.astro";
import Faculties from "./Faculties.astro";
import MainDescription from "./MainDescription.astro";
import MainHeader from "./MainHeader.astro";
import MainInformation from "./MainInformation.astro";
import News from "./News.jsx";

---

<main>
  <MainHeader />
  <section class="information-section">
    <MainInformation />
    <MainDescription />
  </section>
  
  <Cu />
  <Faculties />
  <News client:load />
</main>

<style>
  .information-section {
    margin-top: 130vh;
  }

  * {
    box-sizing: border-box;
  }
</style>

