---
import Cu from "./Cu.astro";
import Faculties from "./Faculties.astro";
import MainDescription from "./MainDescription.astro";
import MainHeader from "./MainHeader.astro";
import MainInformation from "./MainInformation.astro";
import News from "./News.jsx";

---

<main>
  <MainHeader />
  <section class="information-section">
    <MainInformation />
    <MainDescription />
  </section>
  
  <Cu />
  <Faculties />
  <News client:load />
</main>

<style>
  .information-section {
    margin-top: 130vh;
  }

  * {
    box-sizing: border-box;
  }

  .news-section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    position: relative;
  }

  .ipad {
    position: absolute;
    width: 45%;
    left: 0;
    top: 0;
  }

  .options {
    background-color: var(--skyblue-deep);
    padding: 50px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    width: 35%;
    height: 550px;
    top: 14%;
    left: 4%;
  }

  .content {
    width: 50%;
  }

  .title {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .link-to-new {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    background-color: var(--skyblue-light);
    width: 60%;
    margin-left: 3rem;
  }

  .title-new {
    position: absolute;
    background-color: var(--skyblue-light);
    padding: 3px;
    color: var(--white);
    top: -30px;
    right: 0;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }

  .description-new {
    margin: 1rem;
    text-align: center;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: var(--black);
    line-height: normal;
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 1.5rem;
  }
</style>

