<div class="social-media-container">
  <section class="social-media-section">
    <a href="#"><img src="/icons/q.png" alt="Instagram" width="28"></a>
    <a href=""><img src="/icons/capellania-ico.png" alt="" width="28"></a>
    <a href=""><img src="/icons/ssg.png" alt="" width="28"></a>
    <a href=""><img src="/icons/fm.png" alt="" width="28"></a>
    <a href=""><img src="/icons/cite-ico.png" alt="Instagram" width="28"></a>
    <span class="arrow"></span>
    <a href=""><img src="/icons/fb.png" alt="" width="28"></a>
    <a href=""><img src="/icons/tw.png" alt="" width="28"></a>
    <a href=""><img src="/icons/in.png" alt="Instagram" width="28"></a>
    <a href=""><img src="/icons/ig.png" alt="" width="28"></a>
    <a href=""><img src="/icons/gl-h.png" alt="" width="28"></a>
    <a href="" class="umg-link"><img src="/icons/miumg.png" class="umg" alt="" width="135"></a>
  </section>
</div>

<style>
  .social-media-container {
    width: 100%;
    background: var(--blue-deep);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-media-section {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: 8px;
    padding: 3px 0;
  }

  .arrow {
    border-left: 1px solid var(--white);
    height: 25px;
  }

  .umg {
    margin-left: 10px;
  }
</style>