---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	:root {
		--blue-deep: #0d4266;
		--blue: #1770a6;
		--blue-light: #147aae;
		--blue-middle: #1175b6;
		--white: #fff;
		--red: #C6052A;
		--orange: #F1911F;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	body {
		margin: 0;
	}

	@font-face {
    font-family: "Alegreya";
    src: url("/fonts/Alegreya.woff") format("woff");
	}

	@font-face {
    font-family: "Cabo-Rounded-Italic";
    src: url("/fonts/CaboRounded.i.woff2") format("woff2");
	}

	@font-face {
    font-family: "HelveticaNeue-light";
    src: url("/fonts/HelveticaNeue-light.woff") format("woff");
	}

	@font-face {
    font-family: "Rototo";
    src: url("/fonts/Roboto.l.woff2") format("woff2");
	}
</style>
